<%- include ../header %>
<div class="tm-middle">
    <div class="uk-container uk-container-center uk-margin-top uk-margin-bottom">
    	<div class="uk-width-medium-5-6 uk-container-center">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-large-3-4">
                    <div class="panel panel_border mb10">
                        <div class="uk-panel uk-panel-header pd5">
                            <div class="uk-panel-title pd10">
                                <div class="topic_title"><%- topicInfo.title %></div>
                                <div class="topic_info">发布于 <%- topicInfo.lastTime == '刚刚发表' ? '刚刚' : topicInfo.lastTime %> - 作者 <%- topicInfo.userName %> - <%- topicInfo.visitQuantity%> 次浏览</div>
                                <div class="topic_icon <%- user=='' ? 'uk-hidden' : '' %>">
                                    <% if(topicInfo.user){ %>
                                    <i class="uk-icon-pencil-square" id="iUpdate" title="修改"></i>
                                    <i class="uk-icon-bitbucket" id="iWaste_t" title="删除"></i>
                                    <i class="uk-icon-eye <%- topicInfo.isOpen ? 'uk-hidden' : '' %>" id="isOpen_t" title="公开"></i>
                                    <i class="uk-icon-eye-slash <%- topicInfo.isOpen ? '' : 'uk-hidden'  %>" id="isOpen_f" title="私人"></i>

                                    <% } %>
                                    <% if(topicInfo.power){ %>
                                    <i class="uk-icon-star <%- topicInfo.isGood ? 'uk-hidden' : '' %>" id="iGood_t" title="加精"></i>
                                    <i class="uk-icon-star-o <%- topicInfo.isGood ? '' : 'uk-hidden'  %>" id="iGood_f" title="取消加精"></i>
                                    <i class="uk-icon-arrow-circle-up <%- topicInfo.isTop ? 'uk-hidden' : '' %>" id="iTop_t" title="置顶"></i>
                                    <i class="uk-icon-arrow-circle-o-up <%- topicInfo.isTop ? '' : 'uk-hidden'  %>" id="iTop_f" title="取消置顶"></i>
                                    <% } %>
                                </div>
                            </div>
                            <div class="topic_box">
                                <div class="topic_content">
                                    <%- topicInfo.content %>
                                </div>
                                <div class="uk-clearfix">
                                    <div class="uk-float-right">
                                        <a class="uk-button uk-button-success <%- user=='' ? 'uk-hidden' : '' %> " href="###">收藏</a>
                                        <!-- <a class="uk-button uk-button-success" href="###">分享</a> -->
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- <div class="panel panel_border mb10">
                        <div class="uk-panel uk-panel-header pd5">
                            <h3 class="uk-panel-title">回复</h3>
                            <ul class="uk-list uk-list-line">
                                <li>11111</li>
                                <li>1111</li>
                                <li>1111</li>
                            </ul>
                        </div>

                    </div> -->

                    <!-- <div class="panel panel_border mb10">
                        <div class="uk-panel uk-panel-header pd5">
                            <h3 class="uk-panel-title">发言</h3>
                            <div class="topic_content uk-form">
                                <div class="uk-form-row topic_speech">
                                    <textarea class='editor' name='t_content' rows='4'
                                    ></textarea>
                                </div>
                            </div>
                            <div class="uk-clearfix topic_box">
                                <div class="uk-float-right">
                                    <a href="###" class="uk-button uk-button-success uk-vertical-align-middle" id="createTopic"><i class="uk-icon-location-arrow"></i>&nbsp;我要发言</a>
                                </div>
                            </div>
                        </div>

                    </div>
 -->
                </div>
                <div class="uk-width-large-1-4 uk-hidden-small">
                    <%- include ../goHome %>
                    <%- include ../works %>
                    <%- include ../tool %>
                    <%- include ../friendship %>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include ../footer %>

<link rel="stylesheet" href="/css/editor.css" />
<script type="text/javascript" src="/js/editor.js"></script>
<script type="text/javascript" src="/js/marked.js"></script>
<script type="text/javascript">
(function(){
    // var editor = new Editor();
    // editor.render($('.editor')[0]);
    $('#iGood_t').click(function(){
        $.ajax({
            type: 'GET',
            url: '/topic/<%= topicInfo._id %>/good/1',
            success: function(result){
                if(0 == result.status){
                    $.UIkit.notify(result.content, {pos:'top-right',status:'success',timeout: 1000});
                    $('#iGood_t').addClass('uk-hidden');
                    $('#iGood_f').removeClass('uk-hidden');
                }else{
                    $.UIkit.notify(result.content, {pos:'top-right',status:'danger',timeout: 1000});
                }
            }
        });
    });
    $('#iGood_f').click(function(){
        $.ajax({
            type: 'GET',
            url: '/topic/<%= topicInfo._id %>/good/0',
            success: function(result){
                if(0 == result.status){
                    $.UIkit.notify(result.content, {pos:'top-right',status:'success',timeout: 1000});
                    $('#iGood_t').removeClass('uk-hidden');
                    $('#iGood_f').addClass('uk-hidden');
                }else{
                    $.UIkit.notify(result.content, {pos:'top-right',status:'danger',timeout: 1000});
                }
            }
        });
    });
    $('#iTop_t').click(function(){
        $.ajax({
            type: 'GET',
            url: '/topic/<%= topicInfo._id %>/top/1',
            success: function(result){
                if(0 == result.status){
                    $.UIkit.notify(result.content, {pos:'top-right',status:'success',timeout: 1000});
                    $('#iTop_t').addClass('uk-hidden');
                    $('#iTop_f').removeClass('uk-hidden');
                }else{
                    $.UIkit.notify(result.content, {pos:'top-right',status:'danger',timeout: 1000});
                }
            }
        });
    });
    $('#iTop_f').click(function(){
        $.ajax({
            type: 'GET',
            url: '/topic/<%= topicInfo._id %>/top/0',
            success: function(result){
                if(0 == result.status){
                    $.UIkit.notify(result.content, {pos:'top-right',status:'success',timeout: 1000});
                    $('#iTop_t').removeClass('uk-hidden');
                    $('#iTop_f').addClass('uk-hidden');
                }else{
                    $.UIkit.notify(result.content, {pos:'top-right',status:'danger',timeout: 1000});
                }
            }
        });
    });
    $('#iWaste_t').click(function(){
        $.ajax({
            type: 'GET',
            url: '/topic/<%= topicInfo._id %>/waste/1',
            success: function(result){
                if(0 == result.status){
                    $.UIkit.notify(result.content, {pos:'top-right',status:'success',timeout: 1000});
                    window.location.href = '/';
                }else{
                    $.UIkit.notify(result.content, {pos:'top-right',status:'danger',timeout: 1000});
                }
            }
        });
    });

    $('#isOpen_t').click(function(){
        $.ajax({
            type: 'GET',
            url: '/topic/<%= topicInfo._id %>/open/1',
            success: function(result){
                if(0 == result.status){
                    $.UIkit.notify(result.content, {pos:'top-right',status:'success',timeout: 1000});
                    $('#isOpen_t').addClass('uk-hidden');
                    $('#isOpen_f').removeClass('uk-hidden');
                }else{
                    $.UIkit.notify(result.content, {pos:'top-right',status:'danger',timeout: 1000});
                }
            }
        });
    });
    $('#isOpen_f').click(function(){
        $.ajax({
            type: 'GET',
            url: '/topic/<%= topicInfo._id %>/open/0',
            success: function(result){
                if(0 == result.status){
                    $.UIkit.notify(result.content, {pos:'top-right',status:'success',timeout: 1000});
                    $('#isOpen_t').removeClass('uk-hidden');
                    $('#isOpen_f').addClass('uk-hidden');
                }else{
                    $.UIkit.notify(result.content, {pos:'top-right',status:'danger',timeout: 1000});
                }
            }
        });
    });

    $('#iUpdate').click(function(){
        $.UIkit.notify('那个该死的程序猿居然没有做这个修改功能，等他睡醒了再收拾他。', {pos:'top-right',status:'success',timeout: 1000});            
    });

})();
</script>