<%- include ../header %>
<div class="tm-middle">
    <div class="uk-container uk-container-center uk-margin-top uk-margin-bottom">
    	<div class="uk-width-medium-5-6 uk-container-center">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-large-3-4">
                    <div class="panel panel_border mb10">
                        
                        

                    </div>
                </div>
                <div class="uk-width-large-1-4 uk-hidden-small">
                    <%- include ../userInfo %>
                    <%- include ../tool %>
                    <%- include ../rankings %>
                    <%- include ../friendship %>
                    <%- include ../ads %>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include ../footer %>

