<%- include header %>
<div class="tm-middle">
    <div class="uk-container uk-container-center uk-margin-top uk-margin-bottom">
    	<div class="uk-width-medium-5-6 uk-container-center">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-1-2 uk-width-large-1-4">
                    <a href='###'>
                        <div class="panel panel_border h80 tag_text tag_btn">
                            <b>看帖</b>
                            <i class="uk-icon-file-text-o"></i> 
                        </div>
                    </a>
                </div>
                <div class="uk-width-1-2 uk-width-large-1-4">
                    <a href='###'>
                        <div class="panel panel_border h80 tag_star tag_btn">
                            <b>精品</b>
                            <i class="uk-icon-star-o"></i> 
                        </div>
                    </a>
                </div>
                <div class="uk-width-1-2 uk-width-large-1-4">
                    <a href='###'>
                        <div class="panel panel_border h80 tag_send tag_btn">
                            <b>分享</b>
                            <i class="uk-icon-send-o"></i> 
                        </div>
                    </a>
                </div>
                <div class="uk-width-1-2 uk-width-large-1-4">
                    <a href='###'>
                        <div class="panel panel_border h80 tag_help tag_btn">
                            <b>求助</b>
                            <i class="uk-icon-comment-o"></i> 
                        </div>
                    </a>
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-large-3-4">
                    <div class="panel panel_border mb10">
                        <ul class="uk-list uk-list-striped pd5 card_list">
                            <li>
                                <a href='###'>
                                    <div class="uk-clearfix">
                                        <div class="uk-float-left card_list_image uk-hidden-small">
                                            <img src="/images/face/yves.png" alt="yves">
                                        </div>
                                        <div class="uk-float-left card_list_num uk-hidden-small">
                                            <code>22/342</code>
                                        </div>
                                        <div class="uk-float-left card_list_tag">
                                            <div class="uk-badge uk-badge-black">置顶</div>
                                            <div class="uk-badge">精品</div>
                                        </div>
                                        <div class="uk-float-left card_list_title">我是标题</div>
                                        <div class="uk-float-right card_list_time">18:23</div>
                                        <div class="uk-float-right card_list_user">
                                            <img src="/images/face/yves.png" alt="yves">
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href='###'>
                                    <div class="uk-clearfix">
                                        <div class="uk-float-left card_list_image uk-hidden-small">
                                            <img src="/images/face/yves.png" alt="yves">
                                        </div>
                                        <div class="uk-float-left card_list_num uk-hidden-small">
                                            <code>22/342</code>
                                        </div>
                                        <div class="uk-float-left card_list_tag">
                                            <div class="uk-badge uk-badge-black">置顶</div>
                                            <div class="uk-badge">精品</div>
                                        </div>
                                        <div class="uk-float-left card_list_title">我是标题</div>
                                        <div class="uk-float-right card_list_time">18:23</div>
                                        <div class="uk-float-right card_list_user">
                                            <img src="/images/face/yves.png" alt="yves">
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href='###'>
                                    <div class="uk-clearfix">
                                        <div class="uk-float-left card_list_image uk-hidden-small">
                                            <img src="/images/face/yves.png" alt="yves">
                                        </div>
                                        <div class="uk-float-left card_list_num uk-hidden-small">
                                            <code>22/342</code>
                                        </div>
                                        <div class="uk-float-left card_list_tag">
                                            <div class="uk-badge uk-badge-black">置顶</div>
                                            <div class="uk-badge">精品</div>
                                        </div>
                                        <div class="uk-float-left card_list_title">我是标题</div>
                                        <div class="uk-float-right card_list_time">18:23</div>
                                        <div class="uk-float-right card_list_user">
                                            <img src="/images/face/yves.png" alt="yves">
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href='###'>
                                    <div class="uk-clearfix">
                                        <div class="uk-float-left card_list_image uk-hidden-small">
                                            <img src="/images/face/yves.png" alt="yves">
                                        </div>
                                        <div class="uk-float-left card_list_num uk-hidden-small">
                                            <code>22/342</code>
                                        </div>
                                        <div class="uk-float-left card_list_tag">
                                            <div class="uk-badge">精品</div>
                                        </div>
                                        <div class="uk-float-left card_list_title">我是标题</div>
                                        <div class="uk-float-right card_list_time">18:23</div>
                                        <div class="uk-float-right card_list_user">
                                            <img src="/images/face/yves.png" alt="yves">
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href='###'>
                                    <div class="uk-clearfix">
                                        <div class="uk-float-left card_list_image uk-hidden-small">
                                            <img src="/images/face/yves.png" alt="yves">
                                        </div>
                                        <div class="uk-float-left card_list_num uk-hidden-small">
                                            <code>22/342</code>
                                        </div>
                                        <div class="uk-float-left card_list_tag">
                                            <div class="uk-badge uk-badge-success">分享</div>
                                        </div>
                                        <div class="uk-float-left card_list_title">我是标题</div>
                                        <div class="uk-float-right card_list_time">18:23</div>
                                        <div class="uk-float-right card_list_user">
                                            <img src="/images/face/yves.png" alt="yves">
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href='###'>
                                    <div class="uk-clearfix">
                                        <div class="uk-float-left card_list_image uk-hidden-small">
                                            <img src="/images/face/yves.png" alt="yves">
                                        </div>
                                        <div class="uk-float-left card_list_num uk-hidden-small">
                                            <code>22/342</code>
                                        </div>
                                        <div class="uk-float-left card_list_tag">
                                            <div class="uk-badge uk-badge-warning">灌水</div>
                                        </div>
                                        <div class="uk-float-left card_list_title">我是标题</div>
                                        <div class="uk-float-right card_list_time">18:23</div>
                                        <div class="uk-float-right card_list_user">
                                            <img src="/images/face/yves.png" alt="yves">
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href='###'>
                                    <div class="uk-clearfix">
                                        <div class="uk-float-left card_list_image uk-hidden-small">
                                            <img src="/images/face/yves.png" alt="yves">
                                        </div>
                                        <div class="uk-float-left card_list_num uk-hidden-small">
                                            <code>22/342</code>
                                        </div>
                                        <div class="uk-float-left card_list_tag">
                                            <div class="uk-badge uk-badge-danger">求助</div>
                                        </div>
                                        <div class="uk-float-left card_list_title">我是标题</div>
                                        <div class="uk-float-right card_list_time">18:23</div>
                                        <div class="uk-float-right card_list_user">
                                            <img src="/images/face/yves.png" alt="yves">
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href='###'>
                                    <div class="uk-clearfix">
                                        <div class="uk-float-left card_list_image uk-hidden-small">
                                            <img src="/images/face/yves.png" alt="yves">
                                        </div>
                                        <div class="uk-float-left card_list_num uk-hidden-small">
                                            <code>22/342</code>
                                        </div>
                                        <div class="uk-float-left card_list_tag">
                                            <div class="uk-badge uk-badge-warning">灌水</div>
                                        </div>
                                        <div class="uk-float-left card_list_title">我是标题</div>
                                        <div class="uk-float-right card_list_time">18:23</div>
                                        <div class="uk-float-right card_list_user">
                                            <img src="/images/face/yves.png" alt="yves">
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href='###'>
                                    <div class="uk-clearfix">
                                        <div class="uk-float-left card_list_image uk-hidden-small">
                                            <img src="/images/face/yves.png" alt="yves">
                                        </div>
                                        <div class="uk-float-left card_list_num uk-hidden-small">
                                            <code>22/342</code>
                                        </div>
                                        <div class="uk-float-left card_list_tag">
                                            <div class="uk-badge uk-badge-warning">灌水</div>
                                        </div>
                                        <div class="uk-float-left card_list_title">我是标题</div>
                                        <div class="uk-float-right card_list_time">18:23</div>
                                        <div class="uk-float-right card_list_user">
                                            <img src="/images/face/yves.png" alt="yves">
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href='###'>
                                    <div class="uk-clearfix">
                                        <div class="uk-float-left card_list_image uk-hidden-small">
                                            <img src="/images/face/yves.png" alt="yves">
                                        </div>
                                        <div class="uk-float-left card_list_num uk-hidden-small">
                                            <code>22/342</code>
                                        </div>
                                        <div class="uk-float-left card_list_tag">
                                            <div class="uk-badge uk-badge-warning">灌水</div>
                                        </div>
                                        <div class="uk-float-left card_list_title">我是标题</div>
                                        <div class="uk-float-right card_list_time">18:23</div>
                                        <div class="uk-float-right card_list_user">
                                            <img src="/images/face/yves.png" alt="yves">
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href='###'>
                                    <div class="uk-clearfix">
                                        <div class="uk-float-left card_list_image uk-hidden-small">
                                            <img src="/images/face/yves.png" alt="yves">
                                        </div>
                                        <div class="uk-float-left card_list_num uk-hidden-small">
                                            <code>22/342</code>
                                        </div>
                                        <div class="uk-float-left card_list_tag">
                                            <div class="uk-badge uk-badge-warning">灌水</div>
                                        </div>
                                        <div class="uk-float-left card_list_title">我是标题</div>
                                        <div class="uk-float-right card_list_time">18:23</div>
                                        <div class="uk-float-right card_list_user">
                                            <img src="/images/face/yves.png" alt="yves">
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href='###'>
                                    <div class="uk-clearfix">
                                        <div class="uk-float-left card_list_image uk-hidden-small">
                                            <img src="/images/face/yves.png" alt="yves">
                                        </div>
                                        <div class="uk-float-left card_list_num uk-hidden-small">
                                            <code>22/342</code>
                                        </div>
                                        <div class="uk-float-left card_list_tag">
                                            <div class="uk-badge uk-badge-warning">灌水</div>
                                        </div>
                                        <div class="uk-float-left card_list_title">我是标题</div>
                                        <div class="uk-float-right card_list_time">18:23</div>
                                        <div class="uk-float-right card_list_user">
                                            <img src="/images/face/yves.png" alt="yves">
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href='###'>
                                    <div class="uk-clearfix">
                                        <div class="uk-float-left card_list_image uk-hidden-small">
                                            <img src="/images/face/yves.png" alt="yves">
                                        </div>
                                        <div class="uk-float-left card_list_num uk-hidden-small">
                                            <code>22/342</code>
                                        </div>
                                        <div class="uk-float-left card_list_tag">
                                            <div class="uk-badge uk-badge-warning">灌水</div>
                                        </div>
                                        <div class="uk-float-left card_list_title">我是标题</div>
                                        <div class="uk-float-right card_list_time">18:23</div>
                                        <div class="uk-float-right card_list_user">
                                            <img src="/images/face/yves.png" alt="yves">
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href='###'>
                                    <div class="uk-clearfix">
                                        <div class="uk-float-left card_list_image uk-hidden-small">
                                            <img src="/images/face/yves.png" alt="yves">
                                        </div>
                                        <div class="uk-float-left card_list_num uk-hidden-small">
                                            <code>22/342</code>
                                        </div>
                                        <div class="uk-float-left card_list_tag">
                                            <div class="uk-badge uk-badge-warning">灌水</div>
                                        </div>
                                        <div class="uk-float-left card_list_title">我是标题</div>
                                        <div class="uk-float-right card_list_time">18:23</div>
                                        <div class="uk-float-right card_list_user">
                                            <img src="/images/face/yves.png" alt="yves">
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href='###'>
                                    <div class="uk-clearfix">
                                        <div class="uk-float-left card_list_image uk-hidden-small">
                                            <img src="/images/face/yves.png" alt="yves">
                                        </div>
                                        <div class="uk-float-left card_list_num uk-hidden-small">
                                            <code>22/342</code>
                                        </div>
                                        <div class="uk-float-left card_list_tag">
                                            <div class="uk-badge uk-badge-warning">灌水</div>
                                        </div>
                                        <div class="uk-float-left card_list_title">我是标题</div>
                                        <div class="uk-float-right card_list_time">18:23</div>
                                        <div class="uk-float-right card_list_user">
                                            <img src="/images/face/yves.png" alt="yves">
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href='###'>
                                    <div class="uk-clearfix">
                                        <div class="uk-float-left card_list_image uk-hidden-small">
                                            <img src="/images/face/yves.png" alt="yves">
                                        </div>
                                        <div class="uk-float-left card_list_num uk-hidden-small">
                                            <code>22/342</code>
                                        </div>
                                        <div class="uk-float-left card_list_tag">
                                            <div class="uk-badge uk-badge-warning">灌水</div>
                                        </div>
                                        <div class="uk-float-left card_list_title">我是标题</div>
                                        <div class="uk-float-right card_list_time">18:23</div>
                                        <div class="uk-float-right card_list_user">
                                            <img src="/images/face/yves.png" alt="yves">
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href='###'>
                                    <div class="uk-clearfix">
                                        <div class="uk-float-left card_list_image uk-hidden-small">
                                            <img src="/images/face/yves.png" alt="yves">
                                        </div>
                                        <div class="uk-float-left card_list_num uk-hidden-small">
                                            <code>22/342</code>
                                        </div>
                                        <div class="uk-float-left card_list_tag">
                                            <div class="uk-badge uk-badge-warning">灌水</div>
                                        </div>
                                        <div class="uk-float-left card_list_title">我是标题</div>
                                        <div class="uk-float-right card_list_time">18:23</div>
                                        <div class="uk-float-right card_list_user">
                                            <img src="/images/face/yves.png" alt="yves">
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href='###'>
                                    <div class="uk-clearfix">
                                        <div class="uk-float-left card_list_image uk-hidden-small">
                                            <img src="/images/face/yves.png" alt="yves">
                                        </div>
                                        <div class="uk-float-left card_list_num uk-hidden-small">
                                            <code>22/342</code>
                                        </div>
                                        <div class="uk-float-left card_list_tag">
                                            <div class="uk-badge uk-badge-warning">灌水</div>
                                        </div>
                                        <div class="uk-float-left card_list_title">我是标题</div>
                                        <div class="uk-float-right card_list_time">18:23</div>
                                        <div class="uk-float-right card_list_user">
                                            <img src="/images/face/yves.png" alt="yves">
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href='###'>
                                    <div class="uk-clearfix">
                                        <div class="uk-float-left card_list_image uk-hidden-small">
                                            <img src="/images/face/yves.png" alt="yves">
                                        </div>
                                        <div class="uk-float-left card_list_num uk-hidden-small">
                                            <code>22/342</code>
                                        </div>
                                        <div class="uk-float-left card_list_tag">
                                            <div class="uk-badge uk-badge-warning">灌水</div>
                                        </div>
                                        <div class="uk-float-left card_list_title">我是标题</div>
                                        <div class="uk-float-right card_list_time">18:23</div>
                                        <div class="uk-float-right card_list_user">
                                            <img src="/images/face/yves.png" alt="yves">
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href='###'>
                                    <div class="uk-clearfix">
                                        <div class="uk-float-left card_list_image uk-hidden-small">
                                            <img src="/images/face/yves.png" alt="yves">
                                        </div>
                                        <div class="uk-float-left card_list_num uk-hidden-small">
                                            <code>22/342</code>
                                        </div>
                                        <div class="uk-float-left card_list_tag">
                                            <div class="uk-badge uk-badge-warning">灌水</div>
                                        </div>
                                        <div class="uk-float-left card_list_title">我是标题</div>
                                        <div class="uk-float-right card_list_time">18:23</div>
                                        <div class="uk-float-right card_list_user">
                                            <img src="/images/face/yves.png" alt="yves">
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href='###'>
                                    <div class="uk-clearfix">
                                        <div class="uk-float-left card_list_image uk-hidden-small">
                                            <img src="/images/face/yves.png" alt="yves">
                                        </div>
                                        <div class="uk-float-left card_list_num uk-hidden-small">
                                            <code>22/342</code>
                                        </div>
                                        <div class="uk-float-left card_list_tag">
                                            <div class="uk-badge uk-badge-warning">灌水</div>
                                        </div>
                                        <div class="uk-float-left card_list_title">我是标题</div>
                                        <div class="uk-float-right card_list_time">18:23</div>
                                        <div class="uk-float-right card_list_user">
                                            <img src="/images/face/yves.png" alt="yves">
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href='###'>
                                    <div class="uk-clearfix">
                                        <div class="uk-float-left card_list_image uk-hidden-small">
                                            <img src="/images/face/yves.png" alt="yves">
                                        </div>
                                        <div class="uk-float-left card_list_num uk-hidden-small">
                                            <code>22/342</code>
                                        </div>
                                        <div class="uk-float-left card_list_tag">
                                            <div class="uk-badge uk-badge-warning">灌水</div>
                                        </div>
                                        <div class="uk-float-left card_list_title">我是标题</div>
                                        <div class="uk-float-right card_list_time">18:23</div>
                                        <div class="uk-float-right card_list_user">
                                            <img src="/images/face/yves.png" alt="yves">
                                        </div>
                                    </div>
                                </a>
                            </li>

                        </ul>
                        <div class="pd5">
                            <ul class="uk-pagination ">
                                <li class="uk-disabled"><span><i class="uk-icon-angle-double-left"></i></span></li>
                                <li class="uk-active"><span>1</span></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><span>...</span></li>
                                <li><a href="#">20</a></li>
                                <li><a href="#"><i class="uk-icon-angle-double-right"></i></a></li>
                            </ul>
                        </div>
                        

                    </div>
                </div>
                <div class="uk-width-large-1-4 uk-hidden-small">
                    <%- include userInfo %>
                    <%- include tool %>
                    <div class="panel mb10 panel_border">
                        <div class="uk-panel uk-panel-header pd5">
                            <h3 class="uk-panel-title">排名</h3>
                            <ul class="uk-list">
                                <li>1.阿三</li>
                                <li>2.法院</li>
                                <li>3.fwsf</li>
                                <li>4.ghfh</li>
                                <li>5.5mo56k</li>
                                <li>6.cro</li>
                                <li>7.0023</li>
                                <li>8.43kjdf</li>
                                <li>9.234c</li>
                            </ul>
                        </div>
                    </div>
                    <%- include friendship %>
                    <%- include ads %>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include footer %>

