<%- include header %>
<div class="tm-middle">
    <div class="uk-container uk-container-center uk-margin-top uk-margin-bottom">
    	<div class="uk-width-medium-5-6 uk-container-center">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-1-2 uk-width-large-1-4">
                    <a href='###'>
                        <div class="panel panel_border h60 tag_text tag_btn">
                            <b>看帖</b>
                            <i class="uk-icon-file-text-o"></i> 
                        </div>
                    </a>
                </div>
                <div class="uk-width-1-2 uk-width-large-1-4">
                    <a href='###'>
                        <div class="panel panel_border h60 tag_star tag_btn">
                            <b>精品</b>
                            <i class="uk-icon-star-o"></i> 
                        </div>
                    </a>
                </div>
                <div class="uk-width-1-2 uk-width-large-1-4">
                    <a href='###'>
                        <div class="panel panel_border h60 tag_send tag_btn">
                            <b>分享</b>
                            <i class="uk-icon-send-o"></i> 
                        </div>
                    </a>
                </div>
                <div class="uk-width-1-2 uk-width-large-1-4">
                    <a href='###'>
                        <div class="panel panel_border h60 tag_help tag_btn">
                            <b>求助</b>
                            <i class="uk-icon-comment-o"></i> 
                        </div>
                    </a>
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-large-3-4">
                    <div class="panel panel_border mb10">
                        <ul class="uk-list uk-list-striped pd5 card_list">
                            <% var type={xq:'心情',js:'技术',fx:'分享',qz:'求助'}; var className={xq:'',js:'uk-badge-success',fx:'uk-badge-success',qz:'uk-badge-warning'}; topicList.forEach(function(content){ %>
                            <li>
                                <a href='/topic/<%= content._id %>'>
                                    <div class="uk-clearfix">
                                        <div class="uk-float-left card_list_image uk-hidden-small">
                                            <img src="/images/face/yves.png" alt="yves">
                                        </div>
                                        <div class="uk-float-left card_list_num uk-hidden-small">
                                            <code><%= content.replyQuantity %>/<%= content.visitQuantity %></code>
                                        </div>
                                        <div class="uk-float-left card_list_tag">
                                            <% if(content.isTop){ %>
                                            <div class="uk-badge uk-badge-black">置顶</div>
                                            <% } %>

                                            <% if(content.isGood){ %>
                                            <div class="uk-badge uk-badge-danger">精品</div>
                                            <% }else{ %>
                                            <div class="uk-badge <%= className[content.tag] %>"><%= type[content.tag] %></div>
                                            <% } %>
                                        </div>
                                        <div class="uk-float-left card_list_title"><%= content.title %></div>
                                        <div class="uk-float-right card_list_time"><%= content.lastTimestamp %></div>
                                        <div class="uk-float-right card_list_user">
                                            <img src="/images/face/yves.png" alt="yves">
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <% }) %>

                        </ul>
                        <div class="pd5">
                            <ul class="uk-pagination ">
                                <li class="uk-disabled"><span><i class="uk-icon-angle-double-left"></i></span></li>
                                <li class="uk-active"><span>1</span></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><span>...</span></li>
                                <li><a href="#">20</a></li>
                                <li><a href="#"><i class="uk-icon-angle-double-right"></i></a></li>
                            </ul>
                        </div>
                        

                    </div>
                </div>
                <div class="uk-width-large-1-4 uk-hidden-small">
                    <%- include userInfo %>
                    <%- include works %>
                    <%- include tool %>
                    <%- include rankings %>
                    <%- include friendship %>
                    <%- include ads %>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include footer %>

