<div class="panel mb10 panel_border">
    <div class="uk-panel uk-panel-header pd5 <%- (user=='') ? '' : 'uk-hidden' %>"><!-- 
        <h3 class="uk-panel-title">用户信息</h3> -->
        <div class="uk-tab-center mb10">
            <ul class="uk-tab" data-uk-tab="{connect:'#tab-user-content'}">
                <li class="uk-active"><a href="#">登&nbsp;陆</a></li>
                <li><a href="#">注&nbsp;册</a></li>
            </ul>
        </div>
        <div class="uk-container uk-container-center">
            
            <ul id="tab-user-content" class="uk-switcher uk-margin">
                <li>
                    <div class="uk-form mb10">
                        <div class="uk-form-icon mb10">
                            <i class="uk-icon-envelope-o"></i>
                            <input type="text" id="login_email" placeholder="邮箱帐号">
                        </div>
                        <div class="uk-form-icon mb10">
                            <i class="uk-icon-keyboard-o"></i>
                            <input type="password" id="login_password" placeholder="输入密码">
                        </div>   
                    </div>
                    <button class="uk-button uk-button-success" id="login">登&nbsp;陆</button>
                </li>
                <li>
                    <div class="uk-form mb10">
                        <div class="uk-form-icon mb10">
                            <i class="uk-icon-envelope-o"></i>
                            <input type="text" id="reg_email" placeholder="邮箱帐号">
                        </div>
                        <div class="uk-form-icon mb10">
                            <i class="uk-icon-keyboard-o"></i>
                            <input type="password" id="reg_password" placeholder="输入密码">
                        </div>
                        <div class="uk-form-icon mb10">
                            <i class="uk-icon-retweet"></i>
                            <input type="password" id="reg_passwordRepeat" placeholder="确认密码">
                        </div>
                        <div class="uk-form-icon mb10">
                            <i class="uk-icon-user"></i>
                            <input type="text" id="reg_userName" placeholder="输入昵称">
                        </div>
                        <button class="uk-button uk-button-success" id='regUser'>注&nbsp;册</button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="uk-panel uk-panel-header pd5 <%- user=='' ? 'uk-hidden' : '' %> ">
        <h3 class="uk-panel-title">用户信息</h3>
        <div class="uk-grid user_info">
            <div class="uk-width-medium-1-2">
                <img class="uk-border-circle" id="user_headSrc" width="120" height="120" src="<%- user.headSrc %>" alt="">
            </div>
            <div class="uk-width-1-2"><%- user.name ? user.name : ''%></div>
            <div class="uk-width-1-2">发帖: <%- user.topicCount %> 贴</div>
            <div class="uk-width-1-2">吧龄: <%- (((new Date().getTime() - user.createTimestamp)/(1000*60*60*24)).toFixed(2)/30).toFixed(2) %> 月</div>
            <div class="uk-width-1-2">收藏: 0 贴</div>
            <div class="uk-width-1-2">关注: 0 人</div>
            <div class="uk-width-1-1 jybfb">
                <div class="uk-progress uk-progress-small uk-progress-success uk-progress-striped uk-active">
                    <div class="uk-progress-bar" style="width: <%- (Math.floor(userIntegral)/999)*100 %>%;"></div>
                </div>
                <div class="jybfb_bar">
                    <%- Math.floor(userIntegral) %>/999
                </div>
            </div>
            <div class="uk-width-1-1"><%- user.describe %></div>
            <div class="uk-width-1-1 uk-clearfix">
                <div class="uk-button-group uk-float-right">
                    <a class="uk-button uk-button-success" href="/topic/create">发帖</a>
                    <a class="uk-button uk-button-success" href="/topic/by/user/<%- user._id %>">详情</a>
                    <a class="uk-button uk-button-success" href="/logout">退出</a>
                </div>
            </div>
        </div>


    </div>
</div>
<script type="text/javascript">
$(function(){
    var email,userName,passWord,passwordRepeat;
    //注册
    $('#regUser').click(function(){
        email = $('#reg_email').val();
        userName = $('#reg_userName').val();
        passWord = $('#reg_password').val();
        passwordRepeat = $('#reg_passwordRepeat').val();
        //校验
        if(changeCheck('reg')){
            $.ajax({
                type: 'POST',
                url: '/signin',
                data: {email : email, userName : userName, passWord : passWord},
                success: function(result){
                    if(0 == result.status){
                        $.UIkit.notify(result.content, {pos:'top-right',status:'success',timeout: 1000});
                        setTimeout('window.location.reload()',1000);
                    }else{
                        $.UIkit.notify(result.content, {pos:'top-right',status:'danger',timeout: 1000});
                    }
                }
            });
        }
    });
    //登陆
    $('#login').click(function(){
        email = $('#login_email').val();
        passWord = $('#login_password').val();
        //校验
        if(changeCheck()){
            $.ajax({
                type: 'POST',
                url: '/login',
                data: {email : email, passWord : passWord},
                success: function(result){
                    if(0 == result.status){
                        $.UIkit.notify(result.content, {pos:'top-right',status:'success',timeout: 1000});
                        setTimeout('window.location.reload()',1000);
                    }else{
                        $.UIkit.notify(result.content, {pos:'top-right',status:'danger',timeout: 1000});
                    }
                }
            });
        }
    });

    function changeCheck(type){
        
        var userPatrn = /^(\w|[\u4e00-\u9fa5]){2,10}$/;
        var pwdPatrn = /^(\w){5,10}$/;
        var emailPatrn = /^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+((\.[a-zA-Z0-9_-]{2,3}){1,2})$/;
        if('' == email){
            $.UIkit.notify('邮箱不能为空', {pos:'top-right',status:'warning',timeout: 1000});
            return false;
        }
        if(!emailPatrn.exec(email)){
            $.UIkit.notify('请输入正确的邮箱', {pos:'top-right',status:'warning',timeout: 1000});
            return false;
        }
        if('' == passWord){
            $.UIkit.notify('密码不能为空', {pos:'top-right',status:'warning',timeout: 1000});
            return false;
        }
        if(!pwdPatrn.exec(passWord)){
            $.UIkit.notify('密码只能输入5-20个字母、数字、下划线', {pos:'top-right',status:'warning',timeout: 1000});
            return false;
        }
        if(type === 'reg'){
            if('' == userName){
                $.UIkit.notify('昵称不能为空', {pos:'top-right',status:'warning',timeout: 1000});
                return false;
            }
            if(!userPatrn.exec(userName)){
                $.UIkit.notify('昵称只能输入2-10个字母、汉字、数字、下划线', {pos:'top-right',status:'warning',timeout: 1000});
                return false;
            }
            if('' == passwordRepeat){
                $.UIkit.notify('密码不能为空', {pos:'top-right',status:'warning',timeout: 1000});
                return false;
            }
            if(passWord != passwordRepeat){
                $.UIkit.notify('密码不相同,请重新输入', {pos:'top-right',status:'warning',timeout: 1000});
                return false;
            }
            if(!pwdPatrn.exec(passwordRepeat)){
            $.UIkit.notify('密码只能输入5-20个字母、数字、下划线', {pos:'top-right',status:'warning',timeout: 1000});
            return false;
        }
        }
        return true;
    }
});
</script>